
.card {
  --font-color: #2f4b31;
  --font-color-sub: #2f4b31;
  --bg-color:#2f4b31;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 230px;
  height: 250px;
  background: rgb(247, 246, 231);
  border: 2px solid rgb(117, 142, 106);
  box-shadow: 4px 4px  rgb(117, 142, 106);
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.center{
  display: grid;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 12px;
  font-weight: 400;
  color: var(--font-color-sub);
}
.card-price {
  font-size: 15px;
  font-weight: 500;
  color: var(--font-color);
}


.tea-card-container {

display: grid;
grid-template-columns: auto auto;
gap: 20px;
padding: 15px;
}